/* Variables */

@import "variables";

/* Variables Fin */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Mulish', sans-serif;
}

html {
	scroll-behavior: smooth;
}
  
/* Scrollbar */
  
::-webkit-scrollbar {
	width: 15px;
}
  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}
  
::-webkit-scrollbar-thumb {
	background: #2b4d96;
  
	&:hover {
	  	background: #1c3c81c5;
	}
}
  
/* Scrollbar Fin */
  
/* Navbar */
  
nav {
	ul li a {
		position: relative;
		color: #ecf0f1;
		transition: 0.5s;
	
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			top: 100%;
			left: 0;
			background: #faebd7;
			transition: transform 0.5s;
			transform: scaleX(0);
			transform-origin: center;
	  	}
	}
  
	a:hover::after {
	  	transform: scaleX(1);
	  	transform-origin: center;
	}
}
  
/* Navbar Fin */
  
/* Productos */
  
.main__color {
	background-color: $color__principal;
	overflow: hidden;
}
  
.card__top {
	width: 14rem;
	margin: 70px 100px 20px 100px;
}
  
.card__mid {
	width: 14rem;
	margin: 30px 100px 30px 100px;
}
  
.card__bottom {
	width: 14rem;
	margin: 20px 100px 50px 100px;
}
  
.textos {
	@extend %texto;
	color: rgb(255, 255, 255);
	font-size: 28px;
	font-family: Arial, sans-serif;
	margin: 80px auto 80px auto;
	width: 10%;
	border-radius: 20px;
	overflow: hidden;
	border: 3px solid map-get($colores, "blanco");
}
  
.fs-3 {
	margin: 0;
}
  
.card__animation {
	border: 3px solid map-get($colores, "blanco");
	padding: 0;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  
	&:hover, &:focus, &:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	  box-shadow: 0 0 2px 1px #008cba80;
	}
}

.card__ribbon--top {
	position: relative;
	width: 200px;
	height: 250px;
	background: $blanco;
	box-shadow: 0 25px 50px rgba(0,0,0,0.15);
	border: 2px solid #ffffff;
}

.card__ribbon--top span {
	position: absolute;
	top: -40px;
	left: -25px;
	width: 120px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: "Preventa";
		position: absolute;
		width: 150%;
		height: 40px;
		background: #d48464;
		transform: rotate(-45deg) translateY(-20px);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		font-size: 15px;
		opacity: 0.9;
	}
}

.card__ribbon--mid {
	position: relative;
	width: 200px;
	height: 250px;
	background: map-get($colores, "blanco");
	box-shadow: 0 25px 50px rgba(0,0,0,0.15);
	border: 2px solid map-get($colores, "blanco");
}

.card__ribbon--mid span {
	position: absolute;
	top: -40px;
	left: -25px;
	width: 120px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: "Novedades";
		position: absolute;
		width: 150%;
		height: 40px;
		background: #bcd464;
		transform: rotate(-45deg) translateY(-20px);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		font-size: 13px;
		opacity: 0.9;
	}
}

.card__ribbon--bottom {
	position: relative;
	width: 200px;
	height: 250px;
	background: #fff;
	box-shadow: 0 25px 50px rgba(0,0,0,0.15);
	border: 2px solid $blanco;
}

.card__ribbon--bottom span {
	position: absolute;
	top: -40px;
	left: -25px;
	width: 120px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: "Destacados";
		position: absolute;
		width: 150%;
		height: 40px;
		background: #64d493;
		transform: rotate(-45deg) translateY(-20px);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		font-size: 13px;
		opacity: 0.9;
	}
}
  
.overlay {
	opacity: 1;
	transition: 0.5s ease;
  
	&:hover {
	  	opacity: 0.7;
	}
}
  
.hvr--fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
  
	&:hover, &:focus, &:active {
		background-color: #625e96af;
		color: $blanco;
		-webkit-transition-duration: 0,7s;
		transition-duration: 0.7s;
	}
}

.hvr--radial--out {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #4eb9eb;
		border-radius: 100%;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	&:hover, &:focus, &:active {
		color: rgb(0, 0, 0);
	}

	&:hover:before, &:focus:before, &:active:before {
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}

.img__wrap {
	position: relative;
	height: 310px;
	width: 200px;
  
	&:hover .img__description {
		visibility: visible;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		padding: 0 2px 0 2px;
		pointer-events: none;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.5s;
	}
}
  
.img__wrap--bottom {
	position: relative;
	height: 330px;
	width: 200px;
  
	&:hover .img__description {
		visibility: visible;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		padding: 0 2px 0 2px;
		pointer-events: none;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.5s;
	}
}
  
.img__description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	height: 245px;
	font-family: 'Roboto';
}

.container--mangas {
	display: none;
    visibility: hidden;
}

carousel-container {
	width: 200px;
	height: 600px;
	margin-bottom: 5%;
	margin-left: 5%;
}

.carousel-item img {
	margin: auto;
	height: 250px;
	width: 200px;
}
  
/* Productos fin */
  
/* Venta */
  
.body__venta {
	background-color: #14213d;
}
  
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 420px;
	width: 654px;
	margin: 120px auto;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
  
.product--img {
	float: left;
	height: 420px;
	width: 327px;
  
	img {
	  	border-radius: 7px 0 0 7px;
	}
}
  
.product--info {
	float: left;
	height: 420px;
	width: 327px;
	border-radius: 0 7px 7px 0px;
	background-color: map-get($colores, "blanco")
}
  
.product--price-btn p {
	font-family: 'Bentham', serif;
}
  
.product--text {
	height: 300px;
	width: 327px;
  
	h1 {
		margin: 0 0 5px 38px;
		padding-top: 52px;
		font-size: 34px;
		color: #474747;
		font-family: 'Bentham', serif;
	}

	h2 {
		margin: 0 0 30px 38px;
		font-size: 13px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		color: #c51616;
		letter-spacing: 0.2em;
	}
  
	p {
		height: 136px;
		margin: 0 36px 0 36px;
		font-family: 'Roboto', sans-serif;
		color: #8d8d8d;
		line-height: 1.7em;
		font-size: 15px;
		font-weight: lighter;
		overflow: scroll;
		overflow-x: hidden;
		text-align: justify;
		text-justify: inter-word;
	
		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}
	}
}
  
.product__price--btn {
	height: 103px;
	width: 327px;
	margin-top: 18px;
	position: relative;
  
	p {
		display: inline-block;
		position: absolute;
		top: -13px;
		height: 50px;
		font-family: 'Trocchi', serif;
		margin: 17px 10px 0 38px;
		font-size: 28px;
		font-weight: lighter;
		color: #474747;
	}
}
  
span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	font-size: 30px;
}
  
.product__price--btn button {
	float: right;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: map-get($colores, "blanco");
	background-color: #1c3c81c5;
	cursor: pointer;
	outline: none;
  
	&:hover {
	  	background-color: #2b4d96;
	}
}
  
/* Venta fin */
  
/* Contacto */
  
.body__contacto {
	background: #1e1e28;
	font-family: 'Montserrat', sans-serif;
}
  
.formulario {
	max-width: 420px;
	margin: 150px auto;
}
  
.feedback__input {
	color: map-get($colores, "blanco");
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border: 2px solid #CC6666;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
  
	&:focus {
		border: 2px solid #CC4949;
	}
}
  
textarea {
	height: 150px;
	line-height: 150%;
	resize: none;
}
  
[type="submit"] {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 100%;
	background: #CC6666;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: #ffffff;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
  
	&:hover {
		background: #CC4949;
	}
}
  
/* Contacto fin */
  
/* Cuenta */
  
.cuenta {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
  
.cuenta__main {
	width: 350px;
	height: 500px;
	background: #ff0000;
	overflow: hidden;
	background: linear-gradient(to top, #0f0c29, #302b63, #24243e) no-repeat (center / cover);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
  
#chk {
	display: none;
}
  
.signup {
	position: relative;
	width: 100%;
	height: 100%;
}
  
.label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
  
.input {
	width: 60%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
  
.button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
  
	&:hover {
		background: #6d44b8;
	}
}
  
.login {
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
  
	label {
	  	color: #573b8a;
	  	transform: scale(0.6);
	}
}
  
#chk:checked ~ {
	.login {
	  	transform: translateY(-500px);
	
		label {
			transform: scale(1);
		}
	}
  
	.signup label {
	  	transform: scale(0.6);
	}
}
  
/* Cuenta fin */
  
/* Footer */

.footer {
	padding: 40px 0;
	background-color: #faebd7;
	color: #4b4c4d;

	&__pages {
		padding: 40px 0;
		background-color: #faebd7;
		color: #4b4c4d;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
	}
  
	li {
	  	padding: 0 10px;
	}
  
	ul a {
		color: inherit;
		text-decoration: none;
		opacity: 0.8;
	
		&:hover {
			opacity: 1;
		}
	}
  
	.social {
		text-align: center;
		padding-bottom: 25px;
	
		> a {
			font-size: 24px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			border: 2px solid #ccc;
			margin: 0 8px;
			color: inherit;
			opacity: 0.75;
	
			&:hover {
			opacity: 0.9;
			}
	  	}
	}
  
	.copyright {
		margin-top: 15px;
		text-align: center;
		font-size: 15px;
		color: #aaa;
		margin-bottom: 0;
	}
}

.hvr--float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  
	&:hover, &:focus, &:active {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
  
/* Iconos */
  
.ion-social-github:before, .ion-social-instagram:before, .ion-social-twitter:before, .ion-social-facebook:before {
	margin-top: 5px;
}
  
/* Footer fin */
  
/* Media Querys */
  
@media (min-width: 280px) and (max-width: 766px) {
	.textos {
		display: flex;
		text-align: center;
		justify-content: center;
		color: rgb(255, 255, 255);
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 55%;
		border-radius: 20px;
	}
  
	.body__venta {
	  	background-color: #14213d;
	}
  
	.wrapper {
		height: 420px;
		width: 327px;
		margin: 50px auto;
		border-radius: 7px 7px 7px 7px;
		-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	}
  
	.product--img {
		float: left;
		height: 420px;
		width: 327px;
		display: none;
	
		img {
			border-radius: 7px 0 0 7px;
			display: none;
		}
	}
  
	.product--info {
		float: left;
		height: 420px;
		width: 327px;
		border-radius: 0 7px 10px 7px;
		background-color: #ffffff;
	}
  
	.product--text {
		height: 300px;
		width: 327px;
	
		h1 {
			margin: 0 0 0 38px;
			padding-top: 52px;
			font-size: 34px;
			color: #474747;
			font-family: 'Bentham', serif;
		}
	}
  
	.product--price-btn p {
	  	font-family: 'Bentham', serif;
	}
  
	.product--text {
	  	h2 {
			margin: 0 0 47px 38px;
			font-size: 13px;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			color: #c51616;
			letter-spacing: 0.2em;
		}
	
		p {
			height: 125px;
			margin: 0 0 0 36px;
			font-family: 'Playfair Display', serif;
			color: #8d8d8d;
			line-height: 1.7em;
			font-size: 15px;
			font-weight: lighter;
			overflow: hidden;
			overflow: scroll;
			overflow-X: hidden;
		}
	}
  
	.product__price--btn {
		height: 103px;
		width: 327px;
		margin-top: 17px;
		position: relative;
	
		p {
			display: inline-block;
			position: absolute;
			top: -13px;
			height: 50px;
			font-family: 'Trocchi', serif;
			margin: 10px 10px 0 38px;
			font-size: 28px;
			font-weight: lighter;
			color: #474747;
		}
	}
  
	span {
		display: inline-block;
		height: 50px;
		font-family: 'Suranna', serif;
		font-size: 34px;
	}
  
	.product__price--btn button {
		float: right;
		height: 50px;
		width: 176px;
		margin: 0 40px 0 16px;
		box-sizing: border-box;
		border: transparent;
		border-radius: 60px;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		background-color: #1c3c81c5;
		cursor: pointer;
		outline: none;
	
		&:hover {
			background-color: #2b4d96;
		}
	}
  
	.footer__pages {
		@include footer
	}

	.container--mangas {
		display: flex;
		visibility: visible;
		justify-content: center;
		justify-items: center;
		margin-bottom: 7%;
		margin-top: 7%;
		transition-delay: 3s;
	}

	carousel-container {
		width: 200px;
		height: 600px;
		margin-bottom: 5%;
		margin-left: 5%;
		transition-delay: 3s;
	}
	
	.carousel-item img {
		margin: auto;
		height: 250px;
		width: 200px;
	}
	  
	.img__description {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(29, 106, 154, 0.72);
		color: #fff;
		visibility: hidden;
		opacity: 0;
		height: 250px;
		font-family: 'Roboto';
	}

	.hidden__section {
		display: none;
		visibility: hidden;
	}
}
  
@media (min-width: 540px) and (max-width: 770px) {
	.card__top {
		width: 14rem;
		margin: 70px 20px 20px 35px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 20px 30px 35px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 20px 50px 35px;
	}
}
  
  @media (min-width: 767px) and (max-width: 1280px) {
	.textos {
		display: flex;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 20%;
		border-radius: 20px;
		overflow: hidden;
	}
  
	.card__top {
		width: 14rem;
		margin: 70px 50px 20px 50px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 50px 30px 50px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 50px 50px 50px;
	}
  
	.footer__pages {
		@include footer
	}
}
  
@media (min-width: 1024px) and (max-width: 1272px) {
	.textos {
		display: flex;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 20%;
		border-radius: 20px;
		overflow: hidden;
	}
  
	.card__top {
		width: 14rem;
		margin: 70px 10px 20px 10px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 10px 30px 10px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 10px 50px 10px;
	}
  
	.footer__pages {
		position: relative;
		padding: 40px 0;
		background-color: #faebd7;
		color: #4b4c4d;
		overflow: hidden;
	}
}
  
@media (min-width: 768px) and (max-width: 1023px) {
	.textos {
		display: flex;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 30%;
		border-radius: 20px;
		overflow: hidden;
	}
  
	.card__top {
		width: 14rem;
		margin: 70px 80px 20px 80px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 80px 30px 80px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 80px 50px 80px;
	}

	.footer__pages {
		@include footer
	}
}
  
@media (min-width: 1239px) and (max-width: 1671px) {
	.textos {
		display: flex;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 20%;
		border-radius: 20px;
		overflow: hidden;
	}
  
	.card__top {
		width: 14rem;
		margin: 70px 10px 20px 10px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 10px 30px 10px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 10px 50px 10px;
	}

	.footer__pages {
		position: relative;
		padding: 40px 0;
		background-color: #faebd7;
		color: #4b4c4d;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.textos {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #ffffff;
		font-size: 28px;
		font-family: Arial, sans-serif;
		margin: 80px auto 80px auto;
		border-style: solid;
		width: 30%;
		border-radius: 20px;
		overflow: hidden;
	}
  
	.card__top {
		width: 14rem;
		margin: 70px 80px 20px 80px;
	}
  
	.card__mid {
		width: 14rem;
		margin: 30px 80px 30px 80px;
	}
  
	.card__bottom {
		width: 14rem;
		margin: 20px 80px 50px 80px;
	}

	.footer__pages {
		@include footer
	}
}
  
/* Termina Media Querys */